/* Colors */
$text-black        : #2b2b2b;
$text-white        : #ffffff;
$link              : #61c5c2;
$link-hover        : #00a79d;

$background-red    : #e1383f;
$background-orange : #fbb040;
$background-green  : #61c5c2;

$button  : #00a79d;

/* Mixins */
@mixin hide-text {
  display: block;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* Base Styles */
body {
  font-family: "Helvetica Neue", "sans-serif";
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;

  font-size  : 1.4em;
  font-weight: normal;
}

p {
  line-height   : 1.5em;

  font-size     : 1em;
  font-weight   : 200;
  letter-spacing: 0.5px;
}

a {
  color: $link;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
  @include transition (all 0.4s ease-in-out);
}

a.white {
  color: $text-white;
}

a.white:hover {
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.5);
}
