.events.next {
  .event {

  }

  .title {
    font-size: 4em;
    font-weight: 200;
  }

  .when {
    font-size: 1.5em;
    //font-weight: 500;
    font-style: italic;
  }


  .where {
    font-size: 1.5em;
    font-weight: 500;
  }

  .rsvp {
    @include button;
    a { color: white; }
  }
}

.events.past {
  .event {
    border-bottom: 1px dashed $background-red;

    &:hover {
      background: lighten($background-red, 40%);
    }
  }

  .title,
  .when,
  .where,
  .slides {
    padding: 0.4em;

    font-size  : 0.95em;
    font-weight: 200;
  }

  .slides {
    text-align: right;
  }
}
