.events.upcoming {
  .event {
    padding: 1.5em 0;

    border-bottom: 1px solid #eeeeee;

    &:last-child {
      border-bottom: none;
    }
  }

  .name {
    font-size: 3.5em;
    font-weight: 200;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
  }

  .time,
  .venue {
    margin: 0 0 1em 0;
    padding-left: 1.5em;

    font-size: 1.5em;
    font-weight: 400;
  }

  .time {
    background: image-url("event_time.png") no-repeat 0 center;
    display: block;
  }

  .venue {
    background: image-url("event_venue.png") no-repeat 2px 2px;

    .venue_address {
      font-size: 0.7em;
      font-weight: 200;
    }
  }
}

.events.event-list {
  .event {
    border-bottom: 1px dashed $background-red;

    &:hover {
      background: lighten($background-red, 40%);
    }
  }

  .name,
  .date,
  .time,
  .venue,
  .details {
    padding: 0.4em;

    font-size  : 0.95em;
    font-weight: 200;
  }

  .name {
    font-weight: 400;
  }

  .time,
  .venue,
  .details {
    text-align: right;
  }
}

.event-hero-name {
  font-size: 3.5em;
  font-weight: 400;
  text-shadow: 2px 2px 2px #fda1ab;
  font-family: "Droid Sans";
}

.event-detail, .event-meta {
  float: left;
  margin-top: 79px;
  .event-subheading {
    font-style: italic;
  }
}

.event-detail {
  width: 45em;
}

.event-meta {
  width: 23em;
}

.btn-rsvp {
  @include button(simple, #61c5c2);

  text-align: center;

  a {
    color: white;
    font-size: 1.5em;
    font-weight: 200;
  }
}
