.events {
  .event {
    border-bottom: 1px dashed $background-red;

    &:hover {
      background: lighten($background-red, 40%);
    }
  }

  .title,
  .when,
  .where,
  .details,
  .rsvp {
    padding: 0.4em;

    font-size  : 0.95em;
    font-weight: 200;
  }
}
