---
http_interactions:
- request:
    method: get
    uri: http://api.meetup.com/2/events?desc=desc&fields=event_hosts&group_id=3952812&key=497d436863212d45671f791084e7062&page=5&sign=true&status=upcoming
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Meetup-Server:
      - api10.int.meetup.com
      X-Oauth-Scopes:
      - basic
      X-Accepted-Oauth-Scopes:
      - basic
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"results":[],"meta":{"lon":"","count":0,"signed_url":"http:\/\/api.meetup.com\/2\/events?group_id=3952812&status=upcoming&order=time&limited_events=False&desc=desc&offset=0&format=json&page=5&fields=event_hosts&sig_id=5018710&sig=110ff701062795cca58696c4bd7a54d928322dc9","link":"http:\/\/api.meetup.com\/2\/events","next":"","total_count":0,"url":"http:\/\/api.meetup.com\/2\/events?group_id=3952812&key=497d436863212d45671f791084e7062&status=upcoming&order=time&limited_events=False&desc=desc&offset=0&format=json&page=5&fields=event_hosts&sign=True","id":"","title":"Meetup Events v2","updated":1385201165843,"description":"Access Meetup events using a group, member, or event id. Events in private groups are available only to authenticated members of those groups. To search events by topic or location, see [Open Events](\/meetup_api\/docs\/2\/open_events).","method":"Events","lat":""}}
  recorded_at: Sat, 23 Nov 2013 10:06:06 GMT
recorded_with: VCR 2.7.0
